<div class="closed-bg-photo-gift hidden"></div>
<div class="modal-photo-gift hidden">
  <div class="closed-photo-gift">
    <img src={{ 'Icon-closed.svg' |asset_url }} />
  </div>
  <p class='title-custom-upload'>How to personalize the perfect photo gift</p>
  <div class="photo-gift-content">
    <div class="photo-gift-item">
      <img src={{ 'step1_photo.png' | asset_url }} alt="Choose the Product" loading="lazy">
      <p class="photo-gift-title">Choose the Product</p>
      <p class="photo-gift-s-content">Simply click on your favorite product.</p>
    </div>
    <div class="photo-gift-item">
      <img src={{ 'step2_photo.png' | asset_url }} alt="Custom Your Style" loading="lazy">
      <p class="photo-gift-title">Custom Your Style</p>
      <p class="photo-gift-s-content">Choose the personalized style and optional details.</p>
    </div>
    <div class="photo-gift-item">
      <img src={{ 'step3_photo.png' | asset_url }} alt="Upload Your Photo" loading="lazy">
      <p class="photo-gift-title">Upload Your Photo</p>
      <p class="photo-gift-s-content">High-quality photos would make an excellent gift.</p>
    </div>
    <div class="photo-gift-item">
      <img src={{ 'step4_photo.png' | asset_url }} alt="Edit Photo" loading="lazy">
      <p class="photo-gift-title">Edit Photo</p>
      <p class="photo-gift-s-content">Resize the photo or auto-remove the background.</p>
    </div>
    <div class="photo-gift-item">
      <img src={{ 'step5_photo.png' | asset_url }} alt="Preview Your Gift" loading="lazy">
      <p class="photo-gift-title">Preview Your Gift</p>
      <p class="photo-gift-s-content">Double-check your options before purchasing.</p>
    </div>
    <div class="photo-gift-item">
      <img src={{ 'step6_photo.png' | asset_url }} alt="Place Your Order" loading="lazy">
      <p class="photo-gift-title">Place Your Order</p>
      <p class="photo-gift-s-content">Click "Add to cart" and "Check out" to get your perfect gift!</p>
    </div>
  </div>
</div>
<div class="closed-bg-photo hidden"></div>
<div class="modal-custom-image hidden">
  <div class="closed-photo-image">
    <img src={{ 'Icon-closed.svg' |asset_url }} />
  </div>
  <p class='title-custom-upload'>Photo Upload Guidelines</p>
  <div class="modal__main">
    <p>1 -
      <strong>CROP</strong>
      the image before uploading that will get you a better result. Photo with large pixels and a high resolution is highly recommended.</p>
    <p>2 - Click the
      <strong>SELECT IMAGE</strong>
      button to upload your photo or re-upload another one.</p>
    <p>3 - Adjust the position or zoom level of the image, then click on the "<strong>PREVIEW</strong>" button.</p>
    <p class='action-custom-img'>
      <img src={{ 'Rectangle 2-6.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2-5.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2-4.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2-3.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2-2.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2-1.png' | asset_url }} loading="lazy" alt="image-photo"/>
      <img src={{ 'Rectangle 2.png' | asset_url }} loading="lazy" alt="image-photo"/>
    </p>
    <p>4 - Please wait 20 - 30 seconds if using the Removed Background function.</p>
    <p>If the photo can't be uploaded, please feel free to checkout as usual then send us your order number and photo via
      <a href="https://365dekorr.com/pages/contact-us" target="_blank">Contact Us</a>. Once done, your order will be manually processed.</p>
  </div>
</div>